.hero{
    background: url(../img/background.png) black no-repeat center;
    background-size: contain;
    min-height: 100vh;
    color: #ffffff;
    @include light;
    padding-top: 70vh;
}
.title {
    margin: 0 auto;
    width: 390px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;

}
.subtitle {
    margin: 0 auto;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
}

